<h1>BaseApp Admin</h1>

<hr />

<form action="/admin" method="post">
  <p>
    To generate a serial for someone just type in the email address and our nano bots will take care of the rest.
  </p>

  <p>
    <label for="email">Email:</label>

    <input id="email" name="email" type="text" />
  </p>

  <p>
    <label for="send_as_email">Send as Email</label>

    <input id="send_as_email" name="send_as_email" type="checkbox">
  </p>

  <p>
    <input name="submit" size="100" type="submit" value="Register Serial" />
  </p>
</form>
