%header
  %h1
    %a{ :href => "/" } <strong>Base</strong>App</a>

  %h2 Frequently Asked Questions &amp; Support

  %p
    %a{ :href => "/" } Back to homepage

%section#content
  %section#main
    :maruku
      ##Why is there no Support for BaseApp?

      BaseApp is no longer under active development (excluding critical bug
      fixes) and available for free on the [Mac App Store](/mas), or as a
      [direct download](/download).
      
      Customers who have purchased a BaseApp license are eligible for [limited
      support](mailto:support@getcloudapp.com). 

      ##Why is the Basecamp activity not limited to items I'm subscribed to?

      The Basecamp API provided by 37 Signals currently doesn't return a
      **subscribed only** feed.

      ##How can I prevent Basecamp projects from showing up in BaseApp?

      You can remove Basecamp projects from the BaseApp drop-down by disabling
      them individually in **Preferences > Accounts**.

%footer
  %p <strong>BaseApp</strong> is a Mac app made by <a href="http://getcloudapp.com/">Linebreak</a> and <a href="http://madebyelephant.com/">Made by Elephant</a>.

  %p Follow <a href="http://twitter.com/getbaseapp">@getbaseapp</a> on Twitter for the latest updates.
