%header
  %h1
    %a{ :href => "/" } <strong>Base</strong>App</a>

  %h2 Frequently Asked Questions &amp; Support

  %p
    %a{ :href => "/" } Back to homepage

%section#content
  %section#main
    :maruku
      ##Why is the Basecamp activity not limited to items I'm subscribed to?

      The Basecamp API provided by 37 Signals currently doesn't return a
      **subscribed only** feed. We will implement this as soon as it becomes available.

      ##How can I prevent Basecamp projects from showing up in BaseApp?

      You can remove Basecamp projects from the BaseApp drop-down by disabling them
      individually in **Preferences > Accounts**.

  %section#sidebar
    %p#linktofaq
      %a{ :href => "mailto:support@getbaseapp.com"} Email Support

%footer
  %p <strong>BaseApp</strong> is a Mac app made by <a href="http://getcloudapp.com/">Linebreak</a> and <a href="http://madebyelephant.com/">Made by Elephant</a>.

  %p Follow <a href="http://twitter.com/getbaseapp">@getbaseapp</a> on Twitter for the latest updates.
