%header
  %h1
    %a{ :href => "/" } <strong>Base</strong>App</a>

  %h2 Frequently Asked Questions &amp; Support

  %p
    %a{ :href => "/" } Back to homepage

%section#content
  %section#main
    :maruku
      ##Sample Question

      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eleifend euismod nulla. Pellentesque magna ipsum, posuere vel, varius eu, vulputate sed, turpis. Mauris vel sem. Sed sed ante. Phasellus ligula felis, pretium vel, sagittis sit amet, facilisis non, sem. Nam suscipit nisl sit amet ante lacinia fringilla. Etiam tincidunt massa sit amet neque. Praesent odio. Sed nec purus. Duis gravida blandit arcu. Nunc non diam interdum mauris interdum volutpat. Quisque placerat aliquam nisi. Donec lobortis risus ac orci tristique facilisis.

  %section#sidebar
    %p#linktofaq
      %a{ :href => "mailto:support@getbaseapp.com"} Email Support

%footer
  %p <strong>BaseApp</strong> is a Mac app made by <a href="http://bylinebreak.com/">Linebreak</a> and <a href="http://madebyelephant.com/">Made by Elephant</a>.

  %p Follow <a href="http://twitter.com/getbaseapp">@getbaseapp</a> on Twitter for the latest updates.
