!!! 5
%html{ :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title BaseApp — Basecamp Notifications Delivered to Your Desktop

    %meta{ :charset => "utf-8" }/

    %meta{ :content => "base, app, mac, osx, basecamp, client", :name => "keywords" }/
    %meta{ :content => "Basecamp notifications delivered to your desktop.", :name => "description" }/

    %link{ :href => "/stylesheets/master.css", :rel => "stylesheet", :type => "text/css" }/

    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/master.js" }
    %script{ :type => "text/javascript", :src => "http://use.typekit.com/vyf3uzy.js" }

    :javascript
      try{Typekit.load();}catch(e){}

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18373627-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body{ :id => locals[:body_id] }
    =yield
