<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <title>BaseApp - Basecamp notifications delivered to your desktop</title>

    <link rel="stylesheet" href="/stylesheets/master.css">

    <script type="text/javascript" src="http://use.typekit.com/vyf3uzy.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body id="confirmation">
    <div id="wrapper">
      <div>
        <h1><%= @message[:title] %></h1>

        <p>
          <%= @message[:content] %>
        </p>
      </div>

      <% if @message[:home] %>
        <p>
          <a href="/">Return to homepage</a>
        </p>
      <% end %>
    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18373627-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
